<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <style>
        body {
            background-color: silver;
            text-align: center;
        }
        .button {
            background-color: greenyellow;
            margin: 10px;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Moves for {{moves_show.disc}} Discs:</h1>
    <h1>{{moves_show.detail}}</h1>
    <a class="button" type="submit" href="/previous">Pevious Moves</a>
    <a class="button" type="submit" href="/">Home</a>
</body>
</html>